[Unit]
Description=Whisper-to-Notion
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/opt/Whisper-to-Notion/env/bin/python3 /opt/Whisper-to-Notion/main.py

[Install]
WantedBy=multi-user.target